# 第一題

In [81]:
import pandas as pd
import numpy as np
raw_data = pd.read_csv('customer_churn.csv')
df = pd.DataFrame(raw_data)
df.head()

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,160
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,121
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,130

In [82]:
stratified_sampling_df=df.groupby('Churn', group_keys=False).apply(lambda x: x.sample(frac=0.6))
stratified_sampling_df

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
4752,54745,0,16.0,Computer,1,15.0,Debit Card,Male,4.0,4,Others,1,Married,3,0,NaN,6.0,15.0,10.0,309
5088,55079,0,25.0,Computer,3,16.0,Debit Card,Male,3.0,4,Others,4,Married,6,1,25.0,7.0,12.0,11.0,323
107,50107,0,15.0,Mobile Phone,1,10.0,Cash on Delivery,Male,2.0,3,Others,2,Divorced,2,0,NaN,0.0,11.0,15.0,292
1606,51599,0,15.0,Mobile Phone,1,23.0,Debit Card,Female,2.0,1,Laptop & Accessory,5,Single,4,1,13.0,1.0,1.0,2.0,165
2852,52845,0,6.0,Computer,3,15.0,E wallet,Female,3.0,4,Fashion,2,Single,3,0,15.0,3.0,4.0,NaN,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3754,53747,1,1.0,Computer,3,7.0,COD,Male,4.0,4,Mobile Phone,3,Divorced,5,0,16.0,2.0,2.0,3.0,154
3141,53134,1,1.0,Computer,1,11.0,COD,Male,3.0,5,Mobile Phone,3,Single,7,0,17.0,2.0,2.0,3.0,164
2268,52261,1,0.0,Computer,1,NaN,Debit Card,Female,2.0,4,Mobile,3,Single,2,0,20.0,1.0,2.0,2.0,126
1105,51098,1,NaN,Mobile Phone,2,28.0,UPI,Male,2.0,5,Mobile Phone,3,Married,2,0,11.0,0.0,1.0,0.0,116
2589,52582,1,0.0,Mobile Phone,3,19.0,E wallet,Male,3.0,4,Laptop & Accessory,5,Married,6,1,13.0,1.0,2.0,2.0,161

In [83]:
## strtified_sampling()
def strtified_sampling(stratified_sampling_df):
    raw_data = pd.read_csv('customer_churn.csv')
    df = pd.DataFrame(raw_data)
    stratified_sampling_df=df.groupby('Churn', group_keys=False).apply(lambda x: x.sample(frac=0.6))
    return stratified_sampling_df

# 第二題

In [84]:
stratified_sampling_df.groupby('Churn').size()

Churn
0    2813
1     571
dtype: int64

# 第三題

In [85]:
stratified_sampling_df.isnull().sum()

CustomerID                       0
Churn                            0
Tenure                         148
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                166
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 149
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    159
CouponUsed                     164
OrderCount                     155
DaySinceLastOrder              181
CashbackAmount                   0
dtype: int64

In [86]:
mean_values = stratified_sampling_df.mean()
stratified_sampling_df.fillna(value=mean_values, inplace=True)

In [87]:
stratified_sampling_df.isnull().sum()

CustomerID                     0
Churn                          0
Tenure                         0
PreferredLoginDevice           0
CityTier                       0
WarehouseToHome                0
PreferredPaymentMode           0
Gender                         0
HourSpendOnApp                 0
NumberOfDeviceRegistered       0
PreferedOrderCat               0
SatisfactionScore              0
MaritalStatus                  0
NumberOfAddress                0
Complain                       0
OrderAmountHikeFromlastYear    0
CouponUsed                     0
OrderCount                     0
DaySinceLastOrder              0
CashbackAmount                 0
dtype: int64

In [88]:
##fill_null
def fill_null(stratified_sampling_df):
    mean_values = stratified_sampling_df.mean()
    stratified_sampling_df.fillna(value=mean_values, inplace=True)
    return stratified_sampling_df

In [89]:
##remove_col
def remove_col(df):
    df=df.drop('CustomerID', axis=1)
    return df

# 第四題

In [90]:
stratified_sampling_df = remove_col(stratified_sampling_df)

In [91]:
stratified_sampling_df

,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
4752,0,16.000000,Computer,1,15.000000,Debit Card,Male,4.0,4,Others,1,Married,3,0,15.712868,6.0,15.0,10.000000,309
5088,0,25.000000,Computer,3,16.000000,Debit Card,Male,3.0,4,Others,4,Married,6,1,25.000000,7.0,12.0,11.000000,323
107,0,15.000000,Mobile Phone,1,10.000000,Cash on Delivery,Male,2.0,3,Others,2,Divorced,2,0,15.712868,0.0,11.0,15.000000,292
1606,0,15.000000,Mobile Phone,1,23.000000,Debit Card,Female,2.0,1,Laptop & Accessory,5,Single,4,1,13.000000,1.0,1.0,2.000000,165
2852,0,6.000000,Computer,3,15.000000,E wallet,Female,3.0,4,Fashion,2,Single,3,0,15.000000,3.0,4.0,4.563534,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3754,1,1.000000,Computer,3,7.000000,COD,Male,4.0,4,Mobile Phone,3,Divorced,5,0,16.000000,2.0,2.0,3.000000,154
3141,1,1.000000,Computer,1,11.000000,COD,Male,3.0,5,Mobile Phone,3,Single,7,0,17.000000,2.0,2.0,3.000000,164
2268,1,0.000000,Computer,1,15.551896,Debit Card,Female,2.0,4,Mobile,3,Single,2,0,20.000000,1.0,2.0,2.000000,126
1105,1,10.261743,Mobile Phone,2,28.000000,UPI,Male,2.0,5,Mobile Phone,3,Married,2,0,11.000000,0.0,1.0,0.000000,116
2589,1,0.000000,Mobile Phone,3,19.000000,E wallet,Male,3.0,4,Laptop & Accessory,5,Married,6,1,13.000000,1.0,2.0,2.000000,161

In [92]:
stratified_sampling_df.groupby('PreferredLoginDevice').size() #無序分類

PreferredLoginDevice
Computer         988
Mobile Phone    1655
Phone            741
dtype: int64

In [93]:
stratified_sampling_df.groupby('PreferredPaymentMode').size() #無序分類

PreferredPaymentMode
CC                   158
COD                  211
Cash on Delivery      90
Credit Card          903
Debit Card          1379
E wallet             402
UPI                  241
dtype: int64

In [94]:
stratified_sampling_df.groupby('Gender').size() #無序分類

Gender
Female    1373
Male      2011
dtype: int64

In [95]:
stratified_sampling_df.groupby('PreferedOrderCat').size() #無序分類

PreferedOrderCat
Fashion                523
Grocery                254
Laptop & Accessory    1206
Mobile                 482
Mobile Phone           761
Others                 158
dtype: int64

In [96]:
stratified_sampling_df.groupby('MaritalStatus').size() #有序分類

MaritalStatus
Divorced     494
Married     1805
Single      1085
dtype: int64

In [97]:
stratified_sampling_df

,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
4752,0,16.000000,Computer,1,15.000000,Debit Card,Male,4.0,4,Others,1,Married,3,0,15.712868,6.0,15.0,10.000000,309
5088,0,25.000000,Computer,3,16.000000,Debit Card,Male,3.0,4,Others,4,Married,6,1,25.000000,7.0,12.0,11.000000,323
107,0,15.000000,Mobile Phone,1,10.000000,Cash on Delivery,Male,2.0,3,Others,2,Divorced,2,0,15.712868,0.0,11.0,15.000000,292
1606,0,15.000000,Mobile Phone,1,23.000000,Debit Card,Female,2.0,1,Laptop & Accessory,5,Single,4,1,13.000000,1.0,1.0,2.000000,165
2852,0,6.000000,Computer,3,15.000000,E wallet,Female,3.0,4,Fashion,2,Single,3,0,15.000000,3.0,4.0,4.563534,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3754,1,1.000000,Computer,3,7.000000,COD,Male,4.0,4,Mobile Phone,3,Divorced,5,0,16.000000,2.0,2.0,3.000000,154
3141,1,1.000000,Computer,1,11.000000,COD,Male,3.0,5,Mobile Phone,3,Single,7,0,17.000000,2.0,2.0,3.000000,164
2268,1,0.000000,Computer,1,15.551896,Debit Card,Female,2.0,4,Mobile,3,Single,2,0,20.000000,1.0,2.0,2.000000,126
1105,1,10.261743,Mobile Phone,2,28.000000,UPI,Male,2.0,5,Mobile Phone,3,Married,2,0,11.000000,0.0,1.0,0.000000,116
2589,1,0.000000,Mobile Phone,3,19.000000,E wallet,Male,3.0,4,Laptop & Accessory,5,Married,6,1,13.000000,1.0,2.0,2.000000,161

In [98]:

from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder
# 將指定欄位進行 one-hot encoding
stratified_sampling_df  = pd.get_dummies(stratified_sampling_df, columns=['PreferredLoginDevice', 'PreferredPaymentMode', 'Gender', 'PreferedOrderCat', 'MaritalStatus'])

le = LabelEncoder()
stratified_sampling_df['Churn'] = le.fit_transform(stratified_sampling_df['Churn'])

In [99]:
stratified_sampling_df

,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,...,Gender_Male,PreferedOrderCat_Fashion,PreferedOrderCat_Grocery,PreferedOrderCat_Laptop & Accessory,PreferedOrderCat_Mobile,PreferedOrderCat_Mobile Phone,PreferedOrderCat_Others,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
4752,0,16.000000,1,15.000000,4.0,4,1,3,0,15.712868,...,1,0,0,0,0,0,1,0,1,0
5088,0,25.000000,3,16.000000,3.0,4,4,6,1,25.000000,...,1,0,0,0,0,0,1,0,1,0
107,0,15.000000,1,10.000000,2.0,3,2,2,0,15.712868,...,1,0,0,0,0,0,1,1,0,0
1606,0,15.000000,1,23.000000,2.0,1,5,4,1,13.000000,...,0,0,0,1,0,0,0,0,0,1
2852,0,6.000000,3,15.000000,3.0,4,2,3,0,15.000000,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3754,1,1.000000,3,7.000000,4.0,4,3,5,0,16.000000,...,1,0,0,0,0,1,0,1,0,0
3141,1,1.000000,1,11.000000,3.0,5,3,7,0,17.000000,...,1,0,0,0,0,1,0,0,0,1
2268,1,0.000000,1,15.551896,2.0,4,3,2,0,20.000000,...,0,0,0,0,1,0,0,0,0,1
1105,1,10.261743,2,28.000000,2.0,5,3,2,0,11.000000,...,1,0,0,0,0,1,0,0,1,0
2589,1,0.000000,3,19.000000,3.0,4,5,6,1,13.000000,...,1,0,0,1,0,0,0,0,1,0

# 第五題

In [100]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

# Split features and target variable
X = stratified_sampling_df.drop(['Churn'], axis=1)
y = stratified_sampling_df['Churn']

# Scale the data using StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Create logistic regression model
log_reg_model = LogisticRegression(max_iter=2000)

# Evaluate model using 10-fold cross-validation
log_reg_scores = cross_val_score(log_reg_model, X_scaled, y, cv=10)

# Print average accuracy across 10 folds
print("Logistic Regression Mean Accuracy:", log_reg_scores.mean())

# Create SVM model
svm_model = SVC(max_iter=2000)

# Evaluate model using 10-fold cross-validation
svm_scores = cross_val_score(svm_model, X_scaled, y, cv=10)

# Print average accuracy across 10 folds
print("SVM Mean Accuracy:", svm_scores.mean())

Logistic Regression Mean Accuracy: 0.8939065472761865
SVM Mean Accuracy: 0.9054336632280812

# 第六題

In [101]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.exceptions import ConvergenceWarning
import warnings

class ChurnPrediction:
    
    def __init__(self):
        self.stratified_sampling_df = None
        self.le = LabelEncoder()
        self.scaler = StandardScaler()
        self.log_reg_model = LogisticRegression(max_iter=2000)
        self.svm_model = SVC(max_iter=2000)
        
    def run_pipeline(self):
        self.load_data()
        self.stratified_sampling()
        self.fill_null()
        self.remove_col()
        self.one_hot_encoding()
        self.label_encoding()
        self.evaluate_models()
        
    def load_data(self):
        raw_data = pd.read_csv('customer_churn.csv')
        self.stratified_sampling_df = pd.DataFrame(raw_data)
        
    def stratified_sampling(self):
        self.stratified_sampling_df = self.stratified_sampling_df.groupby('Churn', group_keys=False).apply(lambda x: x.sample(frac=0.6))

    def fill_null(self):
        mean_values = self.stratified_sampling_df.mean()
        self.stratified_sampling_df.fillna(value=mean_values, inplace=True)
        
    def remove_col(self):
        self.stratified_sampling_df = self.stratified_sampling_df.drop('CustomerID', axis=1)
        
    def one_hot_encoding(self):
        self.stratified_sampling_df = pd.get_dummies(self.stratified_sampling_df, columns=['PreferredLoginDevice', 'PreferredPaymentMode', 'Gender', 'PreferedOrderCat', 'MaritalStatus'])
        
    def label_encoding(self):
        self.stratified_sampling_df['Churn'] = self.le.fit_transform(self.stratified_sampling_df['Churn'])
        
    def evaluate_models(self):
        X = self.stratified_sampling_df.drop(['Churn'], axis=1)
        y = self.stratified_sampling_df['Churn']

        X_scaled = self.scaler.fit_transform(X)

        with warnings.catch_warnings():
            warnings.simplefilter("ignore", category=ConvergenceWarning)

            log_reg_scores = cross_val_score(self.log_reg_model, X_scaled, y, cv=10)
            svm_scores = cross_val_score(self.svm_model, X_scaled, y, cv=10)

        self.log_reg_mean_score = np.mean(log_reg_scores)
        self.svm_mean_score = np.mean(svm_scores)

In [102]:
num_runs = 30
log_reg_scores = []
svm_scores = []

for i in range(num_runs):
    churn_prediction = ChurnPrediction()
    churn_prediction.run_pipeline()
    
    log_reg_scores.append(churn_prediction.log_reg_mean_score)
    svm_scores.append(churn_prediction.svm_mean_score)
    
print(f"Logistic Regression Mean Score: {np.mean(log_reg_scores)}")
print(f"SVM Mean Score: {np.mean(svm_scores)}")

Logistic Regression Mean Score: 0.8905456354401214
SVM Mean Score: 0.9031619567936792

# 第七題

In [103]:
from scipy import stats

# Calculate mean scores
log_reg_mean = np.mean(log_reg_scores)
svm_mean = np.mean(svm_scores)

# Calculate standard deviations
log_reg_std = np.std(log_reg_scores)
svm_std = np.std(svm_scores)

# Calculate t-value and p-value
t, p = stats.ttest_rel(log_reg_scores, svm_scores)

# Print results
print('Logistic Regression mean:', log_reg_mean, 'std:', log_reg_std)
print('SVM mean:', svm_mean, 'std:', svm_std)
print('t-value:', t)
print('p-value:', p)

Logistic Regression mean: 0.8905456354401214 std: 0.004289813170936292
SVM mean: 0.9031619567936792 std: 0.0037919595724625428
t-value: -19.3324949363893
p-value: 4.111236931855208e-18

p-value的值為4.111236931855208e-18，小於0.05的顯著性水平，表示可以拒絕虛無假設(兩種模型的平均準確率是相等的)，並且接受對立假設(兩種模型的平均準確率是不相等的)。因此，由logistic regression 與SVM的輸出結果我們可以得出結論：SVM模型在此分類任務中表現比Logistic Regression更好。